@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1b;
  font-family: 'Poppins', sans-serif;
}


/* header styling */
header{
  padding: 20px;
  border-bottom: 1px solid #3d3d3d;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-container{
  padding: 0 20px;
  width: 40rem;
}

.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
}

li{
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;

  transition: all 0.3s ease;
}


li .nav-items{
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;

  transition: all 0.3s ease;
}


.nav-items:hover{
  color: #f3dc15;
  cursor: pointer;
}

.nav-action-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

}

.search-input{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #3d3d3d;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f3dc15;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.theme-toggle-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.theme-toggle-btn{
  padding: 15px 15px;
  border-radius: 30rem;
  border: none;
  outline: none;
  background-color: #3d3d3d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.theme-toggle-btn:hover{
  background-color: #f3dc15;
  color: #000;
}